# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.eNFN.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\projects\eNFN\eNFN\.idea\.idea.eNFN\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
